<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        cd ~
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/about">
        /about
      </a>
      <a class="navbar-item" href="/snippets">
        /snippets
      </a>
      <a class="navbar-item" href="/posts">
        /posts
      </a>
    </div>
  </div>
</nav>
